<?xml version="1.0" encoding="UTF-8"?>
<installer-gui-script minSpecVersion="1.0">
    <title>QCiStuff PlugIn for Quartz Composer</title>
    <welcome file="Welcome.rtf"></welcome>
    <options allow-external-scripts="no" customize="never" rootVolumeOnly="false"></options>
    <choices-outline>
        <line choice="pluginAndLibraries"></line>
    </choices-outline>
    <choice id="pluginAndLibraries" title="Plugin and libraries" description="What is this?  A distribution choice is one line item presented to the user in the Installer's custom install window.  A choice can represent one or more packages, simplifying the user experience.  Once a package is created (from a PackageMaker single package document), it can be dragged onto a choice to add it." start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="QCiStuffPluginInstaller"></pkg-ref>
        <pkg-ref id="QCiStuff dynamic libraries"></pkg-ref>
    </choice>
    <pkg-ref id="QCiStuffPluginInstaller" version="1.0.0.1.0" installKBytes="860" auth="Root" onConclusion="None">file:./Contents/Packages/QCiStuffPlugInInstaller.pkg</pkg-ref>
    <pkg-ref id="QCiStuff dynamic libraries" version="1.0.0.1.0" installKBytes="41784" auth="Admin" onConclusion="None">file:./Contents/Packages/QCiStuffDynamicLibraries.pkg</pkg-ref>
</installer-gui-script>